.vs/GarudaHS/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/GarudaHS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
.vs/GarudaHS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
.vs/GarudaHS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/GarudaHS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
.vs/GarudaHS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
.vs/GarudaHS/FileContentIndex/0ac90096-14ad-410c-8234-2b91183bdb71.vsidx
.vs/GarudaHS/FileContentIndex/2928931c-96c8-4749-9aac-e3de1a490b3f.vsidx
.vs/GarudaHS/FileContentIndex/5c04f266-c0e7-4c9e-bba8-b51741b63ad1.vsidx
.vs/GarudaHS/FileContentIndex/b7653628-b03a-454c-abb7-5b16f11995ae.vsidx
.vs/GarudaHS/FileContentIndex/d0534c14-b8fb-48bb-acc7-3b497ed56246.vsidx
.vs/GarudaHS/v17/.suo
.vs/GarudaHS/v17/Browse.VC.db
.vs/GarudaHS/v17/Browse.VC.db-shm
.vs/GarudaHS/v17/Browse.VC.db-wal
.vs/GarudaHS/v17/Browse.VC.opendb
.vs/GarudaHS/v17/DocumentLayout.backup.json
.vs/GarudaHS/v17/DocumentLayout.json
.vs/GarudaHS/v17/ipch/52a55cdac6386b1a.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/5058ae160cf805b9/SERVER.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/5757cce81cc8323e/MAIN.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/911bbb690e53abd4/SERVER.ipch
.vs/GarudaHS/v17/ipch/c90434a186b8618f.ipch
.vs/GarudaHS/v17/ipch/e8ccc8666d89aa3f.ipch
.vs/GarudaHS/FileContentIndex/2673b05a-940d-4a6f-8087-b40cbb73547c.vsidx
.vs/GarudaHS/FileContentIndex/827f6b1c-3c1f-44e6-b9b7-a62a9743bcbb.vsidx
.vs/GarudaHS/FileContentIndex/a1ceed9d-8b0f-4999-b99e-8f61a3cd439d.vsidx
.vs/GarudaHS/FileContentIndex/de91653f-5e18-499a-93e5-533240090ab1.vsidx
.vs/GarudaHS/FileContentIndex/df834c81-5883-4885-be95-5e95d8fb50aa.vsidx
.vs/GarudaHS/v17/ipch/AutoPCH/2c0388ab1cd468ec/CRCGEN.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/5a2dc1b6b802fcac/ENCRYPTIP.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/6cfd09ef009e9cfa/ENCRYPTIP.ipch
.vs/GarudaHS/v17/Solution.VC.db
.vs/GarudaHS/FileContentIndex/ea3c3eeb-bb51-4db9-bd4b-742195e100ef.vsidx
.vs/GarudaHS/FileContentIndex/d91f3ed3-cea4-4e66-a1f7-ffbac0b07100.vsidx
.vs/GarudaHS/FileContentIndex/87ded1f6-2411-43f1-b730-53a55d1bac8f.vsidx
.vs/GarudaHS/FileContentIndex/4393bfcb-fe3b-4412-84ec-eace176e839b.vsidx
.vs/GarudaHS/FileContentIndex/10d10c87-ea1c-467e-bca7-94c6b6f9ea04.vsidx
.vs/GarudaHS-V.1.0.2/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/GarudaHS-V.1.0.2/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/GarudaHS-V.1.0.2/FileContentIndex/5a27f2ec-aff4-47d7-b238-f6e575a3276c.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/5fce115a-e49c-487b-a2d0-152ecad0cf2d.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/756e5345-64cd-4d00-83b9-26c087a700fe.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/a37fa71e-3e89-460d-90c4-7a29fcea6bc9.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/b7f7f213-07ea-4ce1-9d31-a5bdbeecbe2c.vsidx
.vs/GarudaHS-V.1.0.2/v17/.suo
.vs/GarudaHS-V.1.0.2/v17/Browse.VC.db
.vs/GarudaHS-V.1.0.2/v17/DocumentLayout.backup.json
.vs/GarudaHS-V.1.0.2/v17/DocumentLayout.json
.vs/GarudaHS-V.1.0.2/v17/ipch/90242e14b9303df.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/ada1dc0c5ee816aa.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/13b62dc10baa008b/PROCESS_WATCHER.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/2a2e43c83900016e/DLLMAIN.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/3e7edb8d441ac261/NETWORK_SERVER.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/43498ae4c1b2c394/SERVER.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/a4565614c801c66d/SERVER.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/ebe2dccd1a47b487/NET_REPORT.ipch
.vs/GarudaHS-V.1.0.2/FileContentIndex/596d1bd5-1bfe-4067-ae3e-445aa0009eca.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/5b6690a9-2c10-470d-9728-fc285b042578.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/8f674ac9-ba44-491f-91d7-4fcb5ce8a84f.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/bd152d67-2228-45b0-a4c3-5d056983d517.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/d27ad756-7f96-4fd4-aa87-17cdb70164c1.vsidx
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/be0d2c4bc138ce10/HWID_BLOCKLIST.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/c1bdda614e4d54c9/HWID.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/c5e788a31a05d5d3/HWID_BLOCKLIST.ipch
.vs/GarudaHS-V.1.0.2/v17/Solution.VC.db
.vs/GarudaHS-V.1.0.2/FileContentIndex/4b366673-9e7d-4fd7-87fb-6c4419435568.vsidx
.vs/GarudaHS-V.1.0.2/FileContentIndex/a827d3e4-4fb7-4a90-a72e-b45b9fc7a9cd.vsidx
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/2366c7d73c53d2d1/NETWORK_SERVER.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/2e9672c850bc8d24/SERVER.ipch
.vs/GarudaHS-V.1.0.2/v17/ipch/AutoPCH/f6d5007a8bc2a1e0/HWID_BLOCKLIST.ipch
