.vs/GarudaHS/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/GarudaHS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
.vs/GarudaHS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
.vs/GarudaHS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/GarudaHS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
.vs/GarudaHS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
.vs/GarudaHS/FileContentIndex/0ac90096-14ad-410c-8234-2b91183bdb71.vsidx
.vs/GarudaHS/FileContentIndex/2928931c-96c8-4749-9aac-e3de1a490b3f.vsidx
.vs/GarudaHS/FileContentIndex/5c04f266-c0e7-4c9e-bba8-b51741b63ad1.vsidx
.vs/GarudaHS/FileContentIndex/b7653628-b03a-454c-abb7-5b16f11995ae.vsidx
.vs/GarudaHS/FileContentIndex/d0534c14-b8fb-48bb-acc7-3b497ed56246.vsidx
.vs/GarudaHS/v17/.suo
.vs/GarudaHS/v17/Browse.VC.db
.vs/GarudaHS/v17/Browse.VC.db-shm
.vs/GarudaHS/v17/Browse.VC.db-wal
.vs/GarudaHS/v17/Browse.VC.opendb
.vs/GarudaHS/v17/DocumentLayout.backup.json
.vs/GarudaHS/v17/DocumentLayout.json
.vs/GarudaHS/v17/ipch/52a55cdac6386b1a.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/5058ae160cf805b9/SERVER.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/5757cce81cc8323e/MAIN.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/911bbb690e53abd4/SERVER.ipch
.vs/GarudaHS/v17/ipch/c90434a186b8618f.ipch
.vs/GarudaHS/v17/ipch/e8ccc8666d89aa3f.ipch
