# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/GarudaHS/copilot-chat/dcb7b416/sessions/c92aaf32-aed4-44ce-8bae-966ae08b113f
.vs/GarudaHS/CopilotIndices/17.14.827.52834/CodeChunks.db
.vs/GarudaHS/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
.vs/GarudaHS/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
.vs/GarudaHS/CopilotIndices/17.14.827.52834/SemanticSymbols.db
.vs/GarudaHS/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
.vs/GarudaHS/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
.vs/GarudaHS/FileContentIndex/426a29a5-e06d-4469-94da-450e9b7f221f.vsidx
.vs/GarudaHS/FileContentIndex/a34da49c-26ff-4b10-b46d-0efb3507590c.vsidx
.vs/GarudaHS/FileContentIndex/af412cd5-e4d3-448e-bbd9-cc9a871f5df9.vsidx
.vs/GarudaHS/FileContentIndex/b8a7f4d9-ce9a-4463-b2b6-55072021d490.vsidx
.vs/GarudaHS/FileContentIndex/d4ac29d8-62ab-411b-87a7-597dc7fcb443.vsidx
.vs/GarudaHS/v17/.suo
.vs/GarudaHS/v17/Browse.VC.db
.vs/GarudaHS/v17/Browse.VC.db-shm
.vs/GarudaHS/v17/Browse.VC.db-wal
.vs/GarudaHS/v17/Browse.VC.opendb
.vs/GarudaHS/v17/DocumentLayout.backup.json
.vs/GarudaHS/v17/DocumentLayout.json
.vs/GarudaHS/v17/ipch/AutoPCH/9b84975c9ca8618e/PROCESSWATCHER.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/e35a0b2b356e3712/DLLMAIN.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/ed1b2ceb40c05ae9/GARUDAHS_SERVER.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/ee7b756cdd670664/GARUDAHS_SERVER.ipch
.vs/GarudaHS/v17/ipch/AutoPCH/f87e46e98e134bde/SERVER.ipch
.vs/GarudaHS/v17/ipch/d5a517ea973e33d1.ipch
.vs/GarudaHS/v17/ipch/e59e2b49b5cf68c2.ipch
.vscode/settings.json
*.vsidx
*.ipch
*.db
*.db-wal
*.db-wal
